#Chatlist{
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
#Search{
    position: relative;
    padding: 10px;
    padding-bottom: 30px;
}
::placeholder{
    position: relative;
    left: 20px;
}
#Searchbox{
    width: 15vw;
    height: 3vh;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 2px #cba1cb;
}
#ChatlistTop{
    display: flex;
    flex-direction: row;
    
}
#storebtn{
    border: none;
    border-radius: 10px;
    width: 4vh;
    height: 26px;
    position: relative;
    top: 10px;
    background-color: #fbe5fb;
    padding: 0px;
}
#storespan{
    position: relative;
    padding: 0px 0px 0px 0px;
    color: #cba1cb;
    background-color: none;
    font-size: 36px;
    top:-5px;
    width: 4vh;
}
#chatroomMsg{
    background-color: #fef6fe;
    width: 70%;
    height: 700px;
    border-radius: 0px 0px 20px 0px;
}
#leftsectiond{
    width: 32%;
    height: 700px;
    background-color: #fbe5fb;
}
#chatroomName{
    font-size: 24px;
    text-align: left;
    padding: 10px;
    background-color: #F6CAF6;
    margin-bottom: 20px;
    color: white;
}
.newMessage{
    position: relative;
    bottom: -26px;
    height: 50px;
    background-color: #F6CAF6;
    border-radius: 0px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textinput{
    height: 30px;
    width: 60%;
    border: none;
}
.submitinput{
    border: none;
    height: 32px;
    margin-left: 10px;
    background-color: #a635a3;
    color: white;
    border-radius: 20px;
}
#chatmsgbox{
    overflow-y: auto;
    overflow-x: hidden;
    height: 560px;
}
