.messageBubble{
    background-color: white;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    left:50%;
}
.user{
    color: black;
    padding-bottom: 5px;
} 
.messageBubbleOther{
    background-color: #F6CAF6;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    left:10px;
}