#Navbar{
    width: 4vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    border-radius: 20px 0px 0px 20px;
}
#Nav{
    display: flex;
    flex-direction: column;
}
span{
    padding-bottom: 20px;
    padding-top: 5px;
}
.navtab{
    border: none;
    background-color: aliceblue;
}

/* justify-content: flex-end; */